body {
    margin: 10px;
}
.usrname {
    font-weight: bold;
}
img {
    width: 200px;
    border-radius: 100px;
    float: left;
    margin-right: 10px;
}
video {
    width: 400px;
}
table,
td,
th {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 5px;
}
tfoot {
    text-align: left;
}
.product {
    background-color: yellow;
    width: 350px;
}
.highlight {
    font-weight: bold;
    background-color: cyan;
}

ul li:nth-child(odd) {
    color: deeppink;
}

a:visited,
a:link {
    color: blue;
}
a:hover,
a:focus {
    color: deeppink;
}

p::first-letter {
    font-size: 140%;
    font-weight: bold;
}
